
<div class="border-light col-lg-12 bg-white mb-3 " style="height: 1px"></div>
<h2 class="text-center">Chat</h2>
<div class="ps-container ps-theme-default ps-active-y" id="chat-content" style="overflow-y: scroll !important; height:400px !important;">
  <div class="media media-chat">
    <img class="avatar avatar-xs img-responsive " style="height: 30px;width: 30px" src="assets/img/default-avatar.png" alt="...">
    <div class="media-body">
      <p>Hi</p>
      <p>How are you ...???</p>
      <p class="meta"><time datetime="2018">23:58</time></p>
    </div>
  </div>

  <div class="media media-meta-day">Today</div>

  <div class="media media-chat media-chat-reverse">
    <div class="media-body">
      <p>Hiii, I'm good.</p>
      <p>How are you doing?</p>
      <p>Long time no see!</p>
      <p class="meta"><time datetime="2018">00:06</time></p>
    </div>
  </div>


  <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div></div></div>

<div class="publisher bt-1 border-light ">
  <img class="avatar avatar-xs img-responsive " style="height: 30px;width: 30px" src="assets/img/default-avatar.png" alt="...">
  <input class="publisher-input text-white" type="text" placeholder="Write something">
  <!--        <a class="publisher-btn" href="#" data-abc="true"><i class="fa fa-smile"></i></a>-->
  <a class="publisher-btn text-info"  data-abc="true"><i class="fa fa-paper-plane"></i></a>
</div>

