<div class=" content">
  <div class=" row">
    <div class=" col-12">
      <app-alert></app-alert>
      <div class=" card card-chart">
        <table class="table">
          <thead>
          <tr>
            <th class="text-center">#</th>
            <th>Name</th>
            <th>Description</th>
            <th class="text-center">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let entry of user?.groupRooms; let i=index">
            <td class="text-center">{{i+1}}</td>
            <td>{{entry.name}}</td>
            <td>{{entry.description}}</td>
            <td class="td-actions text-center">
              <button class=" btn btn-sm btn-info  btn-simple" >
                <h5 class=" card-title">
                  <i routerLink="/group-show" [state]="{data:entry.id}" class=" tim-icons icon-support-17"> Show</i>
                </h5>
              </button>
              <button class=" btn btn-sm btn-danger btn-simple" (click)="leaveGroup(entry.id)">
                <h5 class=" card-title">
                  <i class=" tim-icons icon-simple-remove"> Leave Group</i>
                </h5>
              </button>
                <button class=" btn btn-sm btn-danger btn-simple" (click)="removeGroup(entry.id)" *ngIf="entry.users[0].id == user?.id || user?.role.name=='ROLE_ADMIN'">
                  <h5 class=" card-title">
                    <i class=" tim-icons icon-simple-remove"> Delete</i>
                  </h5>
                </button>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
