::ng-deep .bg-card{
  background-color: #1d253b;
}
.arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

::ng-deep .custom-wrap {
  overflow-x: hidden !important;
  white-space: pre-wrap !important;
  height: 75px !important;
  width: 250px !important;
}

::ng-deep .notif .mat-menu-content{
  height:300px!important;
}

.custom-text{
  height:20px!important;
}
