<nav class=" navbar navbar-expand-md  navbar-transparent float-right" style="width: 75%">
  <div class=" container-fluid">
  </div>
  <div class=" navbar-collapse " id="navigation" *ngIf="checkIfLoggedIn()"
       [style.visibility]="checkPath() ? 'hidden' : 'visible'">
    <div class="navbar-nav justify-content-start">
      <button mat-button [matMenuTriggerFor]="menu">
        <img src="assets/img/{{chosenGame?.name}}.jpg" alt="" style="width: 30px;height: 30px">
        <b class="pl-1 text-white pr-1">{{chosenGame?.name}}</b>
        <i class="arrow down"></i>
      </button>
      <mat-menu #menu="matMenu" class="bg-card text-white">
        <button class="text-white" mat-menu-item *ngFor="let game of games" (click)="setGame(game)"><img
          src="assets/img/{{game?.name}}.jpg" alt="" style="width: 30px;height: 30px">
          {{game?.name}}
        </button>
      </mat-menu>
    </div>
    <ul class=" navbar-nav ml-4 ">
      <li class=" nav-item justify-content-center" routerLinkActive="true">
        <div class=" photo justify-content-center">
          <a [routerLink]="'/user-profile'"><img alt="Profile Photo" [src]="profilePicture"/></a>
        </div>
    </ul>
  </div>
</nav>

