<nav class=" navbar navbar-expand-md  navbar-transparent float-right" style="width: 90%">
  <div class=" container-fluid">
    <div class=" navbar-wrapper">
      <div class=" navbar-toggle d-inline">
        <button class=" navbar-toggler " type="button" (click)="sidebarToggle()">
          <span class=" navbar-toggler-bar bar1"> </span>
          <span class=" navbar-toggler-bar bar2"> </span>
          <span class=" navbar-toggler-bar bar3"> </span>
        </button>
      </div>
    </div>
    <button
      aria-label="Toggle navigation"
      class=" navbar-toggler"
      (click)="collapse()"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample"
      id="navigation"
      type="button"
    >
      <span class=" navbar-toggler-bar navbar-kebab"> </span>
      <span class=" navbar-toggler-bar navbar-kebab"> </span>
      <span class=" navbar-toggler-bar navbar-kebab"> </span>
    </button>
  </div>
  <div class=" navbar-collapse" [ngbCollapse]="isCollapsed" id="navigation" *ngIf="checkIfLoggedIn()" [style.visibility]="checkPath() ? 'hidden' : 'visible'" >


    <div class="navbar-nav justify-content-start">
      <button mat-button [matMenuTriggerFor]="menu">
        <img src="assets/img/{{chosenGame?.name}}.jpg" alt="" style="width: 30px;height: 30px">
        <b class="pl-1 text-white pr-1">{{chosenGame?.name}}</b>
         <i class="arrow down"></i>
      </button>
      <mat-menu #menu="matMenu" class="bg-card text-white">
        <button class="text-white" mat-menu-item  *ngFor="let game of games" (click)="setGame(game)"><img src="assets/img/{{game?.name}}.jpg" alt="" style="width: 30px;height: 30px">
          {{game?.name}}
        </button>
      </mat-menu>
    </div>

    <ul class=" navbar-nav ml-4 ">
      <li class=" nav-item justify-content-center" routerLinkActive="true" >
          <div class=" photo justify-content-center">
            <a [routerLink]="'/user-profile'"><img alt="Profile Photo" [src]="profilePicture"/></a>
  </div>
  </ul>
    </div>
</nav>

<ng-template #content let-modal>
  <div class=" modal-header">
    <input
      class=" form-control"
      id="inlineFormInputGroup"
      placeholder="SEARCH"
      type="text"
    />

    <button
      aria-label="Close"
      class=" close"
      data-dismiss="modal"
      type="button"
      (click)="modal.dismiss('Cross click')"
    >
      <i class=" tim-icons icon-simple-remove"> </i>
    </button>
  </div>

</ng-template>
