<div class=" content" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <div class="main-body">

      <!-- Breadcrumb -->
      <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="'/home-page'">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Explore</li>
          <li class="breadcrumb-item active" aria-current="page">{{currentGroup?.name}}</li>
        </ol>
      </nav>
      <!-- /Breadcrumb -->
      <app-alert></app-alert>
      <h2 class="text-left card-title">{{currentGroup?.name}}</h2>
      <h5 class="card-title">Category: {{currentGroup?.category?.name}} </h5>
      <button class=" text-right btn btn-fill bg-card " [hidden]="currentGroup?.joinCode !== null || currentGroup?.groupLeader?.id !== currentUser?.id" (click)="generateCode(currentGroup)" >Generate code</button>
      <h1 class="text-right"  [hidden]="currentGroup?.groupLeader?.id !== currentUser?.id">{{currentGroup?.joinCode}}</h1>
      <div class="d-flex justify-content-center row">
        <div class=" pr-md-1 justify-content-center" style="width: 95%">
          <label class="d-flex justify-content-center title"> Users in group </label>
          <div class="row text-center justify-content-center ">
            <div class="col-md-2 card card-user  ml-1 mr-1 bg-card"
                 *ngFor=" let user of currentGroup?.users | slice:0:currentGroup?.maxUsers; let i = index">
              <a class="button" style="cursor:pointer" [state]="{userProfileId:user.id}" routerLink="/profile">
                <img class="img-responsive img-thumbnail mt-1"   [style.border-color]="isConnected.get(user.id) ? 'green' : 'grey'" alt="icon"  [src]="profilePictures.get(user.id)" style="height: 150px;width:150px;border-width:thick">
                <p class="justify-content-center">{{user?.username}}</p>
              </a>
              <div class="row justify-content-center">
                <div *ngFor="let role of user?.inGameRoles">
                  <div class="justify-content-center" *ngIf="tableContains(currentGroup.game.inGameRoles,role) ">
                  <img src="assets/img/{{role?.name}}.jpg" alt="" style="width: 30px;height: 30px">
                  <p>{{role?.name}}</p>
                </div>
                </div>
              </div>

              <p class="text-warning" *ngIf="user?.id == currentGroup?.groupLeader?.id">Leader</p>

              <div class="row justify-content-center" *ngIf="currentGroup?.groupLeader?.id !== user?.id" [hidden]="currentUser?.id !== currentGroup?.groupLeader?.id">
               <a type="button" title="Make Leader" style="cursor: pointer" (click)="makePartyLeader(user)">
                 <img class="mr-2" style="height: 25px;width: 25px;" src="assets/img/leader.png" alt="icon">
               </a>
                <a type="button" title="Remove from group" style="cursor: pointer" (click)="removeFromGroup(user)">
                  <img style="height: 20px;width: 20px;" src="assets/img/remove.png" alt="icon">
                </a>
              </div>

            </div>
            <div class="col-md-2 card card-user  ml-1 mr-1 bg-card"
                 *ngFor=" let _ of [].constructor(currentGroup?.maxUsers-currentGroup?.users.length)">
                 <button class='bg-transparent pt-1 btnNew hover-add mt-2'
                      (click)="joinGroup(currentGroup.id)"><img class="img-responsive" alt="icon"
                                                                   src="assets/img/join.jpg">
                  <p class="justify-content-center">Join </p></button>
            </div>
          </div>
        </div>
      </div>
      <app-chat (onConnection)="setConnection($event)" [groupRoom]="currentGroup" [currentUser]="currentUser" [isInGroup]="isUserInGroup" [usersPictures]="profilePictures"  ></app-chat>
    </div>

  </div>
</div>
