<div class=" content">
  <div class=" row">
    <div class=" col-12">
      <app-alert></app-alert>

      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h2 class=" card-title">{{currentGroup?.name}}</h2>
              <h5 class=" card-title">Created by: {{currentGroup?.groupLeader.username}}</h5>
            </div>
            <div class=" card-body w-100">
              <p class=" card-text"></p>
              <div class=" author">
                <div class=" block block-one"></div>
                <div class=" block block-two"></div>
              </div>
              <div>
                <p class="d-flex justify-content-center title">{{ currentGroup?.description }}</p>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center row">
            <div class=" pr-md-1 justify-content-center" style="width: 95%">
              <label class="d-flex justify-content-center title"> Users in group </label>
              <div class="row text-center justify-content-center">
                <div class="col-md-1 card card-user col-1 col-sm-1 col-lg-1" *ngFor=" let user of currentGroup?.users; let i = index">
                  <img class="img-responsive" alt="icon" src="assets/img/default-avatar.png">
                  <p class="justify-content-center">{{user.username}}</p>
                  <div class="row justify-content-center">
                    <div class="p-md-1" *ngFor="let role of user.inGameRoles">
                      <img src="assets/img/{{role.name}}.jpg" alt="" style="width: 30px;height: 30px">
                      <p>{{role.name}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class=" card card-chart">
          <div class=" card-header">
            <div class=" row">
              <div class=" col-sm-12  text-left">
                <h2 class=" card-title">Welcome in chat room</h2>
                <input (keyup)="onKey($event)" class=" form-control" placeholder="Type ur answer" type="text" name="comment"/>
                <button
                  class=" btn btn-fill btn-info"
                  type="button"
                  (click)="addMessage()"
                >Send message</button>
                <div class="block block-one"></div>
                <h2 class=" card-title pt-4 pb-1">Messages:</h2>
                <div *ngFor="let message of currentGroup?.chat; let i = index" class=" card card-user col-md-12 ">
                  <div class=" card-body">
                    <div class=" btn-group btn-group-toggle float-right" data-toggle="buttons">
                      <button class=" btn btn-sm  btn-danger" (click)="deleteMessage(message.id)" *ngIf="isAdmin || message.user?.id == currentUser?.id" >
                        Delete
                      </button>
                    </div>
                    <div class=" block block-one"></div>
                    <div class="block block-two"></div>
                    <div><h4>User: {{message.user.username}}</h4></div>
                    <div>Wrote:<p>{{message.text}}</p></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=" card card-chart">
      </div>
    </div>
  </div>
</div>
