::ng-deep mat-dialog-container {
  background-color: #1e2534 !important;
}
::ng-deep mat-dialog-container mat-dialog-content {
  background-color: #1e2534 !important;
}
::ng-deep mat-expansion-panel {
  background-color: #1a202c!important;
  padding-bottom: 20px !important;
  color:white !important;
}
p{
  color:white;
}
