<div class="content">
  <div class="container">
    <div class="main-body">
      <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/support-panel">SUPPORT PANEL</a></li>
        </ol>
      </nav>
      <app-alert></app-alert>


      <button (click)="loadReportedUsers()" class="btn-primary"> Load all banned users</button>
      <div *ngFor="let user of reportedUsers">
        <p>
          {{user?.reportedUser?.username}}
        </p>
        <p *ngFor="let report of user.reports">
          {{report.reason}} - {{report?.reportedBy?.username}}
        </p>
      </div>
    </div>
  </div>
</div>
