<div class=" content justify-content-center">
  <div class="justify-content-center card-body">
    <div class=" col-10 mr-auto ml-auto">
      <app-alert></app-alert>
      <div class="thumbnail justify-content-center titleText">
        <h1> Find group of your choice with our team finder site!</h1>
        <h3> Create own group for chosen main topic with many categories and wait for other people to join</h3>
        <h1> You dont have time to wait? No worries just select main topic below, find your prefered group using filters and join them to access chat</h1>
        <h3> If its your first time, dont forget to update info about you in My profile section. It will help other people see what u are interested in and
        find topic to talk about</h3>
      </div>
      <div class="col-lg-12 thumbnail mt-3" *ngFor="let game of games">
        <a style="cursor: pointer">
          <img class="img-fluid " src="assets/img/{{game.name}}-back.jpg" alt="lol" (click)="redirectToChosen(game)" >
          <div class="imgText">
            <h1>{{game.name}}</h1>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
