<h1 mat-dialog-title class="display-3 ">Site terms</h1>
<mat-dialog-content style="width:100%;"  class="justify-content-center" >

  <h2>§ 1 General provisions</h2>
  <p>The Grouper website, hereinafter referred to as the Website, is a service enabling competition in electronic sports offered by the website in the domain www.grouper.pl

    The organizer of Grouper is Temp Sp. z o. o. with its registered office in Temp hereinafter referred to as the Organizer. The arrMY website will be hereinafter referred to as the Website.

    The administrator is an entity authorized by the Organizer to supervise the course of the games and the functioning of the Website.

    Contact with the game administrators can be made via messengers: Temp Messages sent elsewhere than those listed may be ignored.

    A Grouper user is a person who has an established and activated account on the Website, who has been accepted to participate in the Grouper project, or has joined it by receiving a direct invitation. Hereinafter referred to as the User.

    Netiquette is a set of rules of decent behavior on the Internet. You should follow the specific rules: Temp

    The Organizer reserves the right to change the Regulations. At the same time, any issues not included in these Regulations are individually resolved by the Organizer and the Administration. Decisions issued by the Organizer and the Administration are final.

    By registering on the Website, the User confirms that he/she has read and accepts the Regulations and the Privacy Policy of the Website. Violation of the Regulations may lead to temporary or permanent suspension of the Website User's rights.

    Referring to the lack of knowledge of these Regulations, the Privacy Policy and other regulations of the Website does not constitute an excuse for any violation of them.

    The User is obliged to use the Website in a manner consistent with the provisions of generally applicable law and the principles of social coexistence.

    The User is prohibited from providing and publishing illegal content via the Website, including pornography, using unlawful threats, advertising drugs and infringing third party copyrights.

    The User is forbidden to use the Website in a way that disrupts its functioning or is burdensome for other Users, to use the content on the Website in a way that goes beyond their own personal use, to post links to websites that publish illegal content or content that conflicts with the law Polish or international law or these Regulations.

    The User is forbidden to upload files infected with viruses, upload data, software or other materials protected by copyright or industrial property to which the User does not have the rights.

    It is forbidden to use the Website in a way that negatively affects the access of other Users to the Website.

    Any attempts of unauthorized access to the Website or its software will be reported to the relevant services.

    You are responsible for keeping your login details securely out of reach of others.

    In the event of a suspicion that the User has registered using false data, or by such registration he has tried to circumvent other prohibitions, the Website reserves the right to delete such User's account, and the described behavior will be reported to the relevant services. The website and the services it provides are protected by copyright in accordance with Polish and international law.

    It is forbidden to use the Website for own commercial (commercial) purposes, such as selling own or third party products and services. It does not apply to streaming (broadcasting their matches) by Users while using the Website.

    You are prohibited from cheating or using software to gain an unfair advantage while playing on the Service.</p>


  <h2>§ 2 User's personal data</h2>
  <p>All personal data is processed in accordance with applicable law, in particular the Act of May 10, 2018 on the protection of personal data. Detailed rules regarding the processing of Users' personal data are available in the "Privacy Policy" tab.
  </p>

  <h2>§ 3 General rules of using the Website</h2>
  <p>In order to use the Website, it is necessary to have an account, which the User sets up independently during the registration process on the Website.

    In the registration process, the User provides personal data that is collected and processed by the Administrator in accordance with the rules set out in the "Privacy Policy" tab.

    Full account registration on the Website enables the User to use all the Website's functions, in particular participation in leagues, tournaments and making purchases in the store.
  </p>

</mat-dialog-content>
<mat-dialog-actions align="center" class="mt-5">
      <button class="btn btn-info " mat-dialog-close >Close</button>
</mat-dialog-actions>
