
<div class=" content">
  <div class="container">
    <div class="main-body">

      <!-- Breadcrumb -->
      <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb" >
          <li class="breadcrumb-item"><a routerLink="/home-page">Home</a></li>
          <li class="breadcrumb-item"><a routerLink="/dashboard">Explore</a></li>
          <li class="breadcrumb-item active" aria-current="page">New Group</li>
        </ol>
      </nav>
      <!-- /Breadcrumb -->
      <app-alert></app-alert>
      <div class="row gutters-sm bg-card justify-content-center ">
        <div class="col-md-8 mt-3 " [formGroup]="groupAddFormGroup">
          <div class="card mb-3" formGroupName="newGroup">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0 mt-2 pt-1">Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" class="form-control" placeholder="Name" formControlName="name" >
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0 mt-2 pt-1">Game</h6>
                </div>
                <div class="col-sm-9 text-white">
                  <input type="text" class="form-control" formControlName="game" >
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0 mt-2 pt-1">Category</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <select class="form-control" formControlName="category" (change)="changeCategory($event)">
<!--                    <option  class="form-control" value="{{chosenCategory?.name}}">{{chosenCategory?.name}}</option>-->
                    <option  class="form-control text-white" *ngFor="let category of categories">{{category?.name}}</option>
                  </select>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0 mt-2 pt-1">Users limit</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" class="form-control" [value]="chosenCategory?.basicMaxUsers" formControlName="maxUsers" >
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0 mt-2 pt-1">Description</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <textarea type="text" class="form-control" formControlName="description"></textarea>
                </div>
              </div>
              <hr>
              <div class="row justify-content-lg-center">
                <div class="col-sm-12 ">
                  <button class="btn btn-info"  routerLink="/dashboard">Cancel</button>
                  <button class="btn btn-info"  (click)="addGroupRoom()">Create Group</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

