<h2 mat-dialog-title>Create new group</h2>
<mat-dialog-content class="mat-typography" [formGroup]="groupAddFormGroup">
      <app-alert></app-alert>
            <div class="card-body" formGroupName="newGroup" >
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0 mt-2 pt-1">Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" class="form-control" placeholder="Name" formControlName="name" >
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0 mt-2 pt-1">Game</h6>
                </div>
                <div class="col-sm-9 text-white">
                  <input type="text" class="form-control" formControlName="game" >
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0 mt-2 pt-1">Category</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <select class="form-control" formControlName="category" (change)="changeCategory($event)">
                    <option  class="form-control text-white" *ngFor="let category of categories">{{category?.name}}</option>
                  </select>
                </div>
              </div>
              <hr>
              <div class="row" *ngIf="chosenGame.name === 'IRL'">
                <div class="col-sm-3">
                  <h6 class="mb-0 mt-2 pt-1">City</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <select class="form-control" formControlName="city" (change)="changeCity($event)">
                    <option  class="form-control text-white" *ngFor="let city of cities">{{city?.name}}</option>
                  </select>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0 mt-2 pt-1">Users limit</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" class="form-control" [value]="chosenCategory?.basicMaxUsers" formControlName="maxUsers" >
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0 mt-2 pt-1">Description</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <textarea type="text" class="form-control" formControlName="description"></textarea>
                </div>
              </div>
              <hr>
              <div class="row justify-content-lg-center">
                <div class="col-sm-12 ">
                  <button class="btn btn-info" mat-dialog-close>Cancel</button>
                  <button class="btn btn-info float-right" (click)="addGroupRoom()">Create Group</button>
                </div>
              </div>
            </div>
</mat-dialog-content>

