select option {
  background: rgb(30, 37, 52);
  color: #1e2534;
  text-shadow: 0 1px 0 rgb(15, 26, 38);
}
.bg-change{
  background-color: #1e2534;
}
::ng-deep mat-dialog-container {
  background-color: #1e2534 !important;
}
::ng-deep mat-dialog-container mat-dialog-content {
  background-color: #1e2534 !important;
}
.image-change-hover:hover{
  opacity: 0.3;
}

label{
  cursor: pointer;
}

label img{
  opacity: 0.3;
  width:20px;
  height: 20px;
}

:checked+label img{
  opacity: 1;
  width:30px;
  height: 30px;
}

input[type=radio] {
  display: none;
}
