.block-three{
  bottom: -20px !important;
  transform: rotate(210deg) !important;
  right: -100px !important;
}
.block-four{
  bottom: -40px !important;
  right: -50px !important;
  transform: rotate(330deg) !important;
}
.card-body {
  //background: #393c5e !important;
}
.title{
  margin-bottom: 50px;
}
.card label{
  font-size: 1rem !important;
}
.card-description label{
  padding-right: 10px;
}
.category a{
  font-size: 1rem !important;
}
