<div class="content ">
  <div class="container px-1">
      <h4 class="mx-1 mt-1 mb-0 d-inline">{{user.username}}</h4>
      <div class="row h-75 mx-1">
        <div class="col-12  pl-1 justify-content-end">
          <div class="d-block  justify-content-center pt-3 " *ngFor="let game of games">
            <div *ngIf="game.assignRolesActive">
              <img class="" src="assets/img/{{game?.name}}.jpg" alt="" style="width: 20px;height: 20px">
              <div class="d-inline" *ngFor="let role of user?.inGameRoles, let i = index">
                <div class="d-inline" *ngIf="tableContains(game?.inGameRoles,role)">
                  <img class="d-inline" src="assets/img/{{role?.name}}.jpg" alt="" style="width: 20px;height: 20px">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
