<div class="content">
  <div class="container">
    <div class="main-body">


        <img class="img-responive img-thumbnail mt-1"alt="icon" [src]="usersProfilePictures.get(user.id)" style="height: 75px;width:75px;border-width:thick">
        <h3>{{user.username}}</h3>
        <div class=" justify-content-center">
          <div class="d-block  justify-content-center pt-3 " *ngFor="let game of games">
            <img class="mr-3" src="assets/img/{{game?.name}}.jpg" alt="" style="width: 30px;height: 30px">
            <div class="d-inline" *ngFor="let role of user?.inGameRoles, let i = index">
              <div class="d-inline" *ngIf="tableContains(game?.inGameRoles,role)">
                <img class="d-inline" src="assets/img/{{role?.name}}.jpg" alt="" style="width: 30px;height: 30px">
              </div>
            </div>
          </div>
        </div>


    </div>
  </div>
</div>
