<div>
  <button mat-button (click)="toggleFriendList()"
          [ngClass]="friendListClosed ? 'toggle-friendList close' : 'toggle-friendList'">
    <mat-icon *ngIf="friendListClosed">keyboard_arrow_left</mat-icon>
    <mat-icon *ngIf="!friendListClosed">keyboard_arrow_right</mat-icon>
    <span *ngIf="unreadMessagesNumber!=0" matBadge="{{unreadMessagesNumber}}" matBadgePosition="before"></span>
    <mat-icon aria-hidden="false">
      <span class="material-symbols-outlined pr-1 ">group</span>
    </mat-icon>

  </button>
</div>
<div [ngClass]="friendListClosed ? 'friendList close ' : 'friendList friend-list-scroll'">
  <h2 class="pt-1 pb-1 mb-1">FRIEND LIST</h2>
  <button *ngIf="!friendListClosed" mat-button class="float-right " (click)="refreshList()">
    <mat-icon class="refreshIcon">refresh</mat-icon>
  </button>
  <h6 class="mb-4">Total: {{friendsNumber}}</h6>
  <div class="card textMode" *ngFor="let friend of friendList">
    <div class="friend-card container" (click)="connectPrivateChat(friend)">
      <div class="row mt-1">
      <div class="col-md-3 justify-content-center">
        <img class=" card-img mt-1" alt="icon" [src]="profilePictures.get(friend.user.id)"
             style="height: 65px;width: 65px">
      </div>
      <div class="col-md-6 ">
        <span *ngIf="unreadMessages.get(friend.user.id)!=0" matBadge="{{unreadMessages.get(friend.user.id)}}"></span>
        <h4>{{friend.user?.username}}</h4>
        <h5>Click to open private chat</h5>
      </div>
      </div>
    </div>
    <div class="card-body bg-chat pl-0 pr-0 pb-0"
         *ngIf="chosenFriend!=null && chosenFriend.id==friend.id">
      <h5 class="pl-2">MESSAGES:</h5>
      <div #content class=" ps-active-y" style="overflow-y: auto !important; height:250px !important;">
        <div #messagesTracker1 *ngFor="let message of chosenFriendMessages">
          <div class="media media-chat pt-0 pb-0" *ngIf="message.user.id==chosenFriend.user.id">
            <div class="media-body mt-1">
              <h5 class="font-weight-light mb-1 pl-1 customFont">{{message.user.username}}</h5>
              <p class="text-break textMode" matTooltip="{{message?.date}}"
                 [matTooltipPosition]="'right'">{{message?.text}}</p>
              <p class="meta textMode pl-1 customFont">
                <time>{{message.time}}</time>
              </p>
            </div>
          </div>
          <div *ngIf="message.user.id!==chosenFriend.user.id" class="media media-chat media-chat-reverse pt-0">
            <div class="media-body">
              <p class="text-break textMode" matTooltip="{{message?.date}}"
                 [matTooltipPosition]="'left'">{{message.text}}</p>
              <p class="meta textMode customFont">{{message?.time}}</p>
            </div>
          </div>
        </div>

        <div class="border-light col-md-12 bg-line mb-3 mt-1 " style="height: 1px"></div>
        <div #messagesTracker2 *ngFor="let msg of messages">
          <div class="media media-chat pt-0 pb-0" *ngIf="msg.user.id==chosenFriend.user.id">
            <div class="media-body mt-1">
              <h5 class="font-weight-light mb-1 pl-1 customFont">{{msg.user.username}}</h5>
              <p class="textMode text-break" matTooltip="{{msg?.date}}" [matTooltipPosition]="'right'">{{msg?.text}}</p>
              <p class="meta textMode pl-1 customFont">
                <time>{{msg?.time}}</time>
              </p>
            </div>
          </div>
          <div *ngIf="msg.user.id!==chosenFriend.user.id" class="media media-chat media-chat-reverse pt-0">
            <div class="media-body">
              <p class="text-break textMode" matTooltip="{{msg?.date}}" [matTooltipPosition]="'left'">{{msg.text}}</p>
              <p class="meta textMode customFont">{{msg.time}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-0 pb-0">
        <div class="d-inline pt-3 pb-3 pr-3 pl-3 publisher">
          <input #inpt class="publisher-input textMode " type="text" value="{{message?.text}}"
                 placeholder="Write something" (keyup)="readMsg(inpt.value)" style="width:70%"
                 (keydown.enter)="sendMsg(currentChatId)">
          <a class="publisher-btn text-info float-right " data-abc="true" (click)="sendMsg(currentChatId)"><i
            class="fa fa-paper-plane"></i></a>
        </div>
      </div>
    </div>
  </div>
  <p *ngIf="friendsNumber==0">So quiet here maybe you can change it</p>
</div>
