<h1 mat-dialog-title >Change Password</h1>
<app-alert></app-alert>
<div mat-dialog-content style="width:100%" [formGroup]="passwordEditForm" class="justify-content-center" >
  <div formGroupName="editUserPassword ">
    <mat-form-field class="example-full-width"  style="width: 100%" >
          <input class="textMode"  matInput  placeholder="Old Password" formControlName="oldPswd" type="text" >
    </mat-form-field>
    <mat-form-field class="example-full-width"  style="width: 100%">
          <input class="textMode"  matInput  placeholder="New Password"  formControlName="newPswd" type="text" >
    </mat-form-field>
    <mat-form-field class="example-full-width"  style="width: 100%" >
          <input class="textMode"  matInput  placeholder="Repeat New Password"  formControlName="new2Pswd" type="text" >
    </mat-form-field>
</div>
</div>
<div mat-dialog-actions>
  <button  mat-dialog-close class="btn btn-info">Close</button>
  <button    (click)="changePassword()" class="btn btn-info" >Save</button>
</div>

