<!--<div class=" content">-->
<!--  <div class=" row">-->
<!--    <div class=" col-12">-->
<!--      <app-alert></app-alert>-->
<!--      <div class=" card card-chart">-->
<!--        <table class="table">-->
<!--          <thead>-->
<!--          <tr>-->
<!--            <th class="text-center">#</th>-->
<!--            <th>Name</th>-->
<!--            <th>Description</th>-->
<!--            <th class="text-right">Actions</th>-->
<!--          </tr>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--          <tr *ngFor="let entry of groupRooms">-->
<!--            <td class="text-center"></td>-->
<!--            <td>{{entry.name}}</td>-->
<!--            <td>{{entry.description}}</td>-->
<!--            <td class="td-actions text-right">-->
<!--              <button type="button" rel="tooltip" class="btn btn-danger btn-link btn-icon btn-sm" (click)="removeGroup(entry.id)">-->
<!--                <i class="tim-icons icon-simple-remove"></i>-->
<!--              </button>-->
<!--              <button type="button" rel="tooltip" class="btn btn-danger btn-link btn-icon btn-sm">-->
<!--              </button>-->
<!--            </td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class=" content">
<div class=" content" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <div class="main-body">

      <!-- Breadcrumb -->
      <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb" >
          <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">My Profile</li>
        </ol>
      </nav>
      <!-- /Breadcrumb -->
      <app-alert></app-alert>
      <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <img src="assets/img/default-avatar.png" alt="avatar" class="rounded-circle" width="150">
                <div class="mt-3">
                  <h4>s</h4>
                  <p class="text-secondary mb-1" [>s</p>
                  <!--                <button class="btn btn-primary">Change profile picture</button>-->
                  <button class="btn btn-outline-primary">Change profile picture</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
