
<div class="sidebar">
  <div class="logo-details">
    <i class='bx bxl-c-plus-plus'></i>
    <span class="logo_name">{{getTitle()}}</span>
  </div>
  <ul class="nav-links">
    <li routerLinkActive="active">
      <a [routerLink]="['/home-page']">
        <i class='bx bx-grid-alt' ></i>
        <span class="link_name">{{menuItems[0].title}}</span>
      </a>
      <ul class="sub-menu blank">
        <li routerLinkActive="active">
          <a class="link_name" [routerLink]="[menuItems[1].path]" >{{menuItems[1].title}}</a></li>
      </ul>
    </li>
    <li>
      <a routerLink="/dashboard">
        <i class='bx bx-compass' ></i>
        <span class="link_name">Explore</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" >Explore</a></li>
      </ul>
    </li>
    <li  routerLinkActive="active">
      <div class="iocn-link">
        <a  [routerLink]="[menuItems[1].path]">
          <i class='bx bx-collection' ></i>
          <span class="link_name">{{menuItems[1].title}}</span>
        </a>
        <i class='bx bxs-chevron-down arrow' ></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#" >Groups</a></li>
        <li><a href="#">League of Legends</a></li>
        <li><a href="#">CS:GO</a></li>
        <li><a href="#">IRL</a></li>
      </ul>
    </li>
    <li routerLinkActive="active" >
      <a [routerLink]="[menuItems[2].path]">
        <i class='bx bxs-user-account' ></i>
        <span class="link_name">{{menuItems[2].title}}</span>
      </a>
    </li>
    <li>
      <div class="iocn-link">
        <a href="#">
          <i class='bx bx-plug' ></i>
          <span class="link_name">Plugins</span>
        </a>
        <i class='bx bxs-chevron-down arrow' ></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Plugins</a></li>
        <li><a href="#">Steam</a></li>
        <li><a href="#">Riot Account</a></li>
        <li><a href="#">Discord</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a href="#">
          <i class='bx bx-cog' ></i>
          <span class="link_name">Settings</span>
        </a>
        <i class='bx bxs-chevron-down arrow' ></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Settings</a></li>
        <li><a>Change password</a></li>
        <li><a href="#">Delete account</a></li>
      </ul>
    </li>
    <li>
      <div class="profile-details" *ngIf="checkIfLoggedIn()">
        <div class="profile-content">
          <img [src]="profilePicture" alt="profileImg">
        </div>
        <div class="name-job" >
          <div class="profile_name">{{currentUser?.username}}</div>
          <div class="job text-warning" [hidden]="!isAdmin">(Admin)</div>
        </div>
        <i class='bx bx-log-out' (click)="logOut()"></i>
      </div>
    </li>
  </ul>
</div>


