/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* ===== Sidebar ===== */
.sidebar{
  position: fixed;
  top: 2px;
  left: 0;
  height: 100%;
  color:white;
  width: 250px;
  padding: 10px 14px;
  background: linear-gradient(to left bottom,#0d1f30fa, #1e1e24);

  z-index: 100;
}
.sidebar.close{
  width: 88px;

}

/* ===== Reusable code - Here ===== */
.sidebar li{
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon{
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text{
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}
.sidebar.close .text{
  opacity: 0;
}
/* =========================== */

.sidebar header{
  position: relative;
}

.sidebar header .image-text{
  display: flex;
  align-items: center;
}
.sidebar header .logo-text{
  display: flex;
  flex-direction: column;
}
header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

header .image-text .profession{
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar header .image{
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img{
  width: 40px;
  border-radius: 6px;
}

.sidebar .menu{
  margin-top: 40px;
}


.sidebar .menu-bar{
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
  display: none;
}
.sidebar .menu-bar .mode{
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}
.home{
  position: absolute;
  top: 0;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
}
.home .text{
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
}

.sidebar.close ~ .home{
  left: 78px;
  height: 100vh;
  width: calc(100% - 78px);
}
body.dark .home .text{
  color: var(--text-color);
}
.bg-opacity{
  opacity:1 !important;
}
a .arrow{
  cursor:pointer;
}

/* Google Fonts Import Link */

.sidebar .dropdown{
  display: inline;
  position: relative;

}.sidebar .dropdown li{
  height: 20px;
 }
 .sidebar .arrow{
   border:none;
 }

.sidebar .menu-bar .menu  li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.sidebar .menu-bar .menu  li i{
  height: 50px;

  text-align: center;
  line-height: 50px;
  font-size: 20px;
  cursor: pointer;
}
.sidebar .menu-bar .menu  li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .menu-bar .menu  i.arrow{
  display: none;
}
.sidebar .menu-bar .menu  li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar.close .menu-bar .menu  li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .menu-bar .menu  li .sub-menu{
  padding: 6px 6px 14px 80px;
  display: none;
}
.sidebar .menu-bar .menu  li.showMenu .sub-menu{
  display: block;
  position: relative;
}
.sidebar .menu-bar .menu  li .sub-menu a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;

}
.sidebar .menu-bar .menu   li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .menu-bar .menu  li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  ććtion: 0s;
}
.sidebar.close .menu-bar .menu  li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
}

/*nowe*/

mat-button-toggle-group {
  margin-left: 8px;

}
.mat-button-toggle-appearance-standard{
  background: #ba54f5;
  border-left: solid 1px #180b20 !important;
  border-right: solid 1px #180b20 !important;
}
.mat-button-toggle-group-appearance-standard{
  border: none;
}

::ng-deep .contrast-content .mat-button-toggle-appearance-standard{
  background: black!important;
  border-left: solid 1px black !important;
  border-right: solid 1px black !important;
  color: white!important;
}




