<nav [ngClass]="isOpen ? 'sidebar open bg-opacity' : 'sidebar close bg-opacity' " (mouseenter)="sidebarShow()" (mouseleave)="sidebarHide()" >
  <header>
    <div class="image-text">
                <span class="image">
                    <img [src]="profilePicture" alt="profileImg" style="width: 50px;height: 50px">
                </span>

      <div class="text logo-text pl-2">
        <span class="name">{{currentUser?.username}}</span>
        <span class="profession text-warning" [hidden]="!isAdmin">(Admin)</span>
      </div>
    </div>
  </header>
  <div class="menu-bar ">
    <div class="menu text-white">

      <ul>
        <li class="nav-link ">
          <a [routerLink]="['/home-page']"  class="">
            <i class='bx bx-home-alt icon' ></i>
            <span class="text nav-text" >{{menuItems[0].title}}</span>
          </a>
        </li>

        <li class="nav-link">
          <a routerLink="/dashboard">
            <i class='bx bx-compass icon' ></i>
            <span class="text nav-text">Explore</span>
          </a>
        </li>

        <li class="nav-link">
          <a [routerLink]="[menuItems[1].path]">
            <i class='bx bx-collection icon'></i>
            <span class="text nav-text">{{menuItems[1].title}}</span>
          </a>
        </li>

        <li class="nav-link">
          <a [routerLink]="[menuItems[2].path]">
            <i class='bx bxs-user-account icon' ></i>
            <span class="text nav-text">{{menuItems[2].title}}</span>
          </a>
        </li>

        <li class="nav-link dropdown">
          <div class="iocn-link">
          <a >
            <i class='bx bx-plug icon' ></i>
            <span class="text nav-text">Plugins</span>
          </a>
            <i class='bx bxs-chevron-down arrow' ></i>
          </div>
          <ul class="sub-menu">
            <li><a style="cursor: pointer" >Facebook</a></li>
            <li><a style="cursor: pointer" href="https://discord.com/api/oauth2/authorize?client_id=1027987598318243850&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2Fdiscord-add&response_type=token&scope=identify">Discord</a></li>
            <li><a style="cursor: pointer" >Steam</a></li>
            <li><a style="cursor: pointer" >Riot Games</a></li>
            <li><a style="cursor: pointer" >Facebook</a></li>
          </ul>
        </li>

        <li class="nav-link dropdown">
          <div class="iocn-link">
            <a>
              <i class='bx bx-cog icon' ></i>
              <span class="text nav-text link_name">Settings</span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
          </div>
          <ul class="sub-menu">

            <li><a style="cursor: pointer" (click)="openChangePassword()">Change password</a></li>
            <li><a style="cursor: pointer" (click)="openEmailChange()">Change email</a></li>
            <li><a style="cursor: pointer" (click)="openDeleteUser()">Delete account</a></li>
          </ul>
        </li>

      </ul>
    </div>
    <div class="bottom-content ">
      <li style="cursor: pointer">
        <a (click)="logOut()">
          <i class='bx bx-log-out icon' ></i>
          <span class="text ">Logout</span>
        </a>
      </li>
      <li class="mode">
        <div class="sun-moon">
          <i class='bx bx-moon icon moon'></i>
          <i class='bx bx-sun icon sun'></i>
        </div>
        <span class="text colorMode">Dark mode</span>

        <div class="toggle-switch" [hidden]="!isOpen">
          <mat-slide-toggle [checked]="isDarkModeOn" (toggleChange)="toggleMode()"></mat-slide-toggle>
        </div>
      </li>
    </div>
  </div>
  <section class="home">
    <div class="text">{{getTitle()}}</div>
  </section>
  <script src="assets/js/some.js">
  </script>
</nav>


