.bg-change{
  background-color: #1e2534;
}
.randomTile{
  cursor: pointer;
  border:thin;
}
.randomTile:hover{
  border-color: #0a0c0d;
  border-width: thick;
}
::ng-deep mat-grid-tile-content{
  border-color: #0a0c0d!important;
  border-width: thick!important;
}
