/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*  ################### login / register  #############################*/
.block-three{
  bottom: -20px !important;
  transform: rotate(210deg) !important;
  right: -100px !important;
}
.block-four{
  bottom: -40px !important;
  right: -50px !important;
  transform: rotate(330deg) !important;
}
.title{
  margin-bottom: 50px;
}
.card label{
  font-size: 1rem !important;
}
.card-description label{
  padding-right: 10px;
}
.category a{
  font-size: 1rem !important;
}


/* ####################### HOME - PAGE ##############*/
.homepageImg{
  opacity: 0.5;
  filter: alpha(opacity=40);
  width: 100%;
  display: block;
}

.homepageImg:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

.white-content .homepageImg{
  opacity: 1;
  filter: alpha(opacity=100);
}

.white-content .homepageImg:hover {
  opacity: 0.7;
  filter: alpha(opacity=40);
  width: 100%;
  display: block;

}

.thumbnail{
  position:relative;
  display: inline-block;
}

.imgText{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color:white;
  font-weight: bold;
}

.titleText {
  font-family: "Javanese Text";
  text-align: center;
}

.titleText h1 {
  color: #24eaea;
}
/* ################# CHANGING SIZE OF CONTENT/CONTAINER #################*/
@media (min-width: 805px) and (max-width: 830px){
  .container {
    margin-right: 0 !important;
    padding-right: 0 !important;
  }
}
@media (min-width: 768px) and (max-width: 805px){
  .container {
    margin-right: 0 !important;
    padding-right: 0 !important;
  }
  .content{
    padding-right: 1px !important;
  }
}
/* ################# BREADCRUMB ############################ */

.white-content .breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-image:   linear-gradient(to bottom right,#cbb5c7,white) !important;
  border-radius: 0.25rem;
}

.white-content .main-breadcrumb {
  background-image:   linear-gradient(to bottom right,#cbb5c7,white) !important;
}

.white-content .breadcrumb-item .active{
  color:black !important;
}

/* ######################### DASHBOARD ############################# */

body{
  margin-top:20px;
  color: #1a202c;
  text-align: left;
  background-color: #e2e8f0;
}
.main-body {
  padding: 15px;
}
.card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #1d253b;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.42);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  background-color: #0f1a26;
  padding: 1rem;
}
.white-content .card-body
{
  flex: 1 1 auto;
  min-height: 1px;
  background-image: linear-gradient(to bottom right,#cbb5c7,white);
  color:black;
  padding: 1rem;
}
.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

.h-100 {
  height: 100%!important;
}
.shadow-none {
  box-shadow: none!important;
}

.bg-change{
  background-color: #0f1a26!important;
}

.white-content .bg-change {
  background: linear-gradient(to bottom right,#cbb5c7,white);
}

.group-show-card{
  background-color: #1d253b !important;
}

.white-content .group-show-card{
  background-color: rgba(255, 255, 255, 0.37) !important;
}
.bg-card{
  background-color: #1d253b;
}
.btn-color{
  background-color: #1d253b;
}

.white-content .btn-color{
  background: #cbb5c7  !important;
}

.white-content .btn-color:hover{
  background:  #cbb5c7 !important;
}

input[type="text"][disabled] {
  color: white;
}
.white-content input[type="text"][disabled] {
  color:black !important;
}

.btnNew{
  cursor:pointer;
  border-radius: 0.4285rem;

}
.btnNew:hover:enabled{
  color:#1a202c;
  background-color: #133b73;
  border-color: #FFFFFF;
}

.card-update{
  opacity: 90%;
  border:black;
}

.card-update:hover{
  background-color: #0f1a26;
  border-color: #FFFFFF;
  cursor:pointer;
}

.filters option {
  background-color: rgb(30, 37, 52);
  color:white;
  text-shadow: 0 1px 0 rgb(15, 26, 38);
}
.white-content .filters option{
  background-color: rgba(255, 255, 255, 0.37);
}

/* ##################### NAVBAR #########################
 */
.arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
}
.white-content .arrow{
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* NARAZIE TO W NAVBAR CSS BO NIE DZIALA TUTAJ COS
 */

//::ng-deep .custom-wrap {
//  overflow-x: hidden !important;
//  white-space: pre-wrap !important;
//  height: 75px !important;
//  width: 250px !important;
//}
//
//::ng-deep .notif .mat-menu-content{
//  height:300px!important;
//  color:white !important;
//}

.bg-dropdown{
  background-color: #1d253b;
}

.white-content .bg-dropdown{
  background-color: white;
}
//.white-content .main-panel {
//  //background-image:linear-gradient(to top left,#cbb5c7,white) !important;
//}

.custom-text{
  height:20px!important;
}
.textMode{
  color:white!important;
}
.white-content .textMode {
  color:black!important;
}



/* #################### SIDEBAR ####################### */


.white-content .sidebar{
  position: fixed;
  top: 0.2em;
  left: 0;
  height: 100%;
  color:black!important;
  width: 250px;
  padding: 10px 14px;
  background: #cbb5c7 !important;
  /*transition: var(--tran-05);*/
  z-index: 100;
}

.sidebar.close{
  width: 88px;
}
.sidebar li a{
  list-style: none;
  height: 100%;
  background-color:  var(--primary-color);
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a .icon,
.sidebar li a .text{
  color:#ba54f5!important;
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
  color: #e14eca!important;
}

.white-content .sidebar li a{
  list-style: none;
  height: 100%;
  color:black!important;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}
.white-content .sidebar li a .icon,
.white-content .sidebar li a .text{
  color:black!important;
}

.white-content .sidebar li a:hover .icon,
.white-content .sidebar li a:hover .text{
  color: white !important;
}

.home{
  position: absolute;
  top: 0;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
}
.home .text{
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
}

.sidebar.close ~ .home{
  left: 78px;
  height: 100vh;
  width: calc(100% - 78px);
}
body.dark .home .text{
  color: var(--text-color);
}
.bg-opacity{
  opacity:1 !important;
}

.menu-bar .mode .sun-moon{
  height: 50px;
  width: 60px;
}

.colorMode{
  color:#ba54f5!important;
}
.white-content .colorMode{
  color:black !important;
}

.mode .sun-moon i{
  position: absolute;
  color:#ba54f5!important;
}
.mode .sun-moon i.sun{
  opacity: 0;
}
.white-content .mode .sun-moon i.sun{
  opacity: 1 !important;
  color:black!important;
}
.white-content .mode .sun-moon i.moon{
  opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}

/* ################# PROFILE ###########################
 */


.image-change-hover:hover{
  opacity: 0.3;
}

label{
  cursor: pointer;
}

label img{
  opacity: 0.3;
  width:20px;
  height: 20px;
}

:checked+label img{
  opacity: 1;
  width:30px;
  height: 30px;
}

input[type=checkbox] {
  display: none;
}
.bg-profile {
  background-color: #1d253b;
}
.white-content .bg-profile{
  background-color: white;
}

/*
##################### DIALOGS ##############################
 */
.image-change-hover:hover{
  opacity: 0.3;
}
label{
  cursor: pointer;
}

label img{
  opacity: 0.3;
  width:20px;
  height: 20px;
}

:checked+label img{
  opacity: 1;
  width:30px;
  height: 30px;
}

input[type=radio] {
  display: none;
}

/*
###################### GROUP SHOW ##########################
 */
.bg-tile{
  background: linear-gradient(to bottom ,#102d48fa, #000000) !important;
}
.white-content .bg-tile{
  background: linear-gradient(to bottom,pink,white) !important;
}


/*
##################### CHAT ##################################
 */

.media-chat {
  padding-right: 64px;
  margin-bottom: 0;
}

.media {
  padding: 16px 12px;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

.media-chat .media-body {
  -webkit-box-flex: initial;
  flex: initial;
  display: table;
}

.media-body {
  min-width: 0;
}

.media-chat .media-body p {
  position: relative;
  padding: 6px 8px;
  margin: 4px 0;
  background-color: #f5f6f7;
  border-radius: 3px;
  font-weight: 100;
  color:#9b9b9b;
}

.media>* {
  margin: 0 8px;
}

.media-chat .media-body p.meta {
  background-color: transparent !important;
  padding: 0;
  opacity: .8;
}

.white-content .media-chat .media-body p.meta {
  background-color: transparent !important;
  padding: 0;
  opacity: .8;
}


.media {
  padding: 16px 12px;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

.media-meta-day::before, .media-meta-day::after {
  content: '';
  -webkit-box-flex: 1;
  flex: 1 1;
  border-top: 1px solid #ebebeb;
}

.media-meta-day::after {
  content: '';
  -webkit-box-flex: 1;
  flex: 1 1;
  border-top: 1px solid #ebebeb;
}

.media-meta-day::after {
  margin-left: 16px;
}

.media-chat.media-chat-reverse {
  padding-right: 12px;
  padding-left: 64px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

.media-chat {
  padding-right: 64px;
  margin-bottom: 0;
}

.media {
  padding: 16px 12px;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

.media-chat.media-chat-reverse .media-body p {
  float: right;
  clear: right;
  background-color: #48b0f7;
  color: white;
}
.white-content .media-chat.media-chat-reverse .media-body .txt {
  float: right!important;
  clear: right!important;
  background-color: #48b0f7!important;
  color: white!important;
}

.media-chat .media-body p {
  position: relative;
  padding: 6px 8px;
  margin: 4px 0;
  color:white;
  background-color: #27293d;
  border-radius: 3px;
}

.white-content .media-chat .media-body p{
  position: relative;
  padding: 6px 8px;
  margin: 4px 0;
  background-color: white !important;
  border-radius: 3px;
}

.border-light {
  border-color: #1d253b !important;
}

.bt-1 {
  border-top: 1px solid #1d253b !important;
}

.publisher {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 12px 20px;
  color:white;
  background-color: #1d253b;
}

.white-content .publisher{
  background: #cbb5c7!important;
  color:white!important;
}


.publisher>*:first-child {
  margin-left: 0;
}

.publisher>* {
  margin: 0 8px;
}

.publisher-input {
  -webkit-box-flex: 1;
  flex-grow: 1;
  border: none;
  outline: none !important;
  background-color: transparent;
}

button, input, optgroup, select, textarea {
  font-family: Roboto,sans-serif;
  font-weight: 300;
}

.publisher-btn {
  background-color: transparent;
  border: none;
  color: #8b95a5;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.file-group {
  position: relative;
  overflow: hidden;
}

.publisher-btn {
  background-color: transparent;
  border: none;
  color: #1d253b;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}


.text-info {
  color: #48b0f7 !important;
}
.white-content .text-info
{
  color: #48b0f7 !important;
}
.bg-line{
  background: white!important;
}

.white-content .bg-line{
  background: black!important;
}
.bg-chat{
  background-color:#1d253b !important;
  //background-color:transparent !important;
}
.white-content .bg-chat{
  background-color: rgba(203, 181, 199, 0.5) !important;
}
.customFont{
  font-size:11px;
}

/*
#################### FRIEND LIST ###############################
 */
.friendList{
  position: fixed;
  top: 50px;
  right: 0;
  height: 100%;
  color:white;
  width: 400px;
  padding: 10px 14px 36px 14px;
  background: #0f1a26;
  transition: var(--tran-05);
  z-index: 100;
}
.friendList.close{
  width: 0;
  padding:0;
}

.white-content .friendList{
  position: fixed;
  top: 50px;
  right: 0;
  height: 100%;
  color:black;
  width: 400px;
  padding: 10px 14px;
  background: #cbb5c7;
  transition: var(--tran-05);
  z-index: 100;
}
.white-content .friendList.close{
  width: 0;
  padding:0;
}



.white-content .toggle-friendList{
  position: fixed;
  top: 40%;
  right: 400px;
  height: 8%;
  color:black!important;
  width: 3%;
  padding: 13px 0;
  background: #cbb5c7!important;
}

.white-content .toggle-friendList.close{
  position: fixed;
  top: 40%;
  right: 0;
  height: 8%;
  color:black!important;
  width: 3%;
  padding: 13px 0px;
  background: #cbb5c7!important;
}

.friend-card{
  padding:10px 15px;
  cursor: pointer;
  box-shadow: black;
}

.friend-card:hover{
  background-color: #1e2534;
}

.white-content .friend-card:hover{
  background-color: #cbb5c7!important;
}
.FontLarge {
  font-size: 120% !important;


}
.FontXLarge {
  font-size: 140% !important;

}


span.mat-button-toggle-label-content{
  padding: 0px 6px !important;
  line-height: 21px !important;
  font-size: 17px;
}

.white-content .mat-button-toggle-appearance-standard{
  background: #f5f6fa !important;

}
.white-content .mat-button-toggle-group-appearance-standard{
  border: solid 1px #180b20 !important;
}
