<div class=" content">
  <div class=" row">
    <div class=" col-12">
      <app-alert></app-alert>
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h2 class=" card-title">Current active groups</h2>
              <h5 class=" card-title">Total: {{groupRooms.length}}</h5>
            </div>
            <div class=" col-sm-6">
              <div class="d-flex justify-content-end card-description">
                <div class="d-flex justify-content-end card-description">
                  <button routerLink="/group-add" class=" btn btn-fill btn-warn" type="submit"> Create own group </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class=" row">
          <div *ngFor="let groupRoom of groupRooms; let i = index"  class=" card card-user col-4 col-sm-4 col-md-4 col-lg-4">
            <div>
              <div class=" btn-group btn-group-toggle float-right" data-toggle="buttons">
                <button class=" btn btn-sm btn-success  btn-simple" (click)="joinGroupMethod(groupRoom.id)">
                  <h5 class=" card-title">
                    <i class=" tim-icons icon-send"> Join</i>
                  </h5>
                </button>
                <button class=" btn btn-sm btn-info  btn-simple" >
                  <h5 class=" card-title">
                    <i routerLink="/group-show" [state]="{data:groupRoom.id}" class=" tim-icons icon-support-17"> Show</i>
                  </h5>
                </button>
                <div class=" btn-group btn-group-toggle float-right" data-toggle="buttons" >
                  <button class=" btn btn-sm btn-danger btn-simple" (click)="deleteGroup(groupRoom.id)" *ngIf="isAdmin || groupRoom.users[0]?.id == currentUser?.id">
                    <h5 class=" card-title">
                      <i class=" tim-icons icon-simple-remove"> Delete</i>
                    </h5>
                  </button>
                </div>
              </div>
            </div>
            <div class=" card-body">
              <p class=" card-text"></p>
              <div class=" author">
                <div class=" block block-one"></div>
                <div class=" block block-two"></div>
              </div>
              <h3 class="d-flex justify-content-center title">{{ groupRoom.name }}</h3>
              <div class="d-flex justify-content-center row">
                <div class=" pr-md-1 justify-content-center" style="width: 95%">
                    <label class="d-flex justify-content-center title"> Users in group </label>
                    <div class="row text-center justify-content-center">
                      <div class="col-md-2 card card-user col-2 col-sm-2 col-lg-2" *ngFor=" let user of groupRoom.users; let i = index">
                            <img class="img-responsive" alt="icon" src="assets/img/default-avatar.png">
                            <p class="justify-content-center">{{user.username}}</p>
                      </div>
                    </div>
                </div>
              </div>
              <div class="d-flex justify-content-start card-description">
                <p class=" category">
                 Description
                </p>
              </div>
              <div class="d-flex justify-content-start card-description">
                {{ groupRoom.description }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=" card card-chart">
      </div>
    </div>
  </div>
</div>
