
<div class=" content " style="background-image:{{chosenGame?.name}}-back.jpg" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <div class="main-body">

      <!-- Breadcrumb -->
      <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Explore</li>
        </ol>
      </nav>
      <!-- /Breadcrumb -->
      <app-alert></app-alert>
      <div class=" col-lg-12 text-left">
        <h2 class=" card-title mb-1">Current active groups for {{chosenGame?.name}}
      </h2>
        <div class="d-flex card-description mb-2">
          <div class="d-flex card-description ">
            <label class="mt-2 mr-2" for="categorySelect">Category </label>
            <select id="categorySelect" class="form-control mr-3" (change)="changeCategory($event)" style="width: 150px">
              <option class="form-control text-white " ></option>
              <option class="form-control text-white" *ngFor="let category of chosenGame?.categories" >{{category.name}}</option>
            </select>
            <label class="mt-2 mr-2" for="InGameRoleSelect">Role</label>
            <select id="InGameRoleSelect" class="form-control mr-3"  (change)="changeRole($event)" style="width: 140px">
              <option class="form-control  text-white "></option>
              <option class="form-control  text-white " *ngFor="let role of chosenGame?.inGameRoles">{{role.name}}</option>
            </select>
          </div>
          <div class="d-flex card-description float-right text-right">
          <button routerLink="/group-add" class=" btn btn-fill bg-card mt-0 " type="submit"> Create own group </button>
          </div>
        </div>
        <h5 class=" card-title">Total: {{groupRooms?.length}}</h5>
      </div>
        <div *ngFor="let groupRoom of groupRooms">
          <div class="card bg-card ">
          <div class="row gutters-sm ">
            <div class="col-md-4 mt-4 card-update ml-lg-4 " routerLink="/group-show" [state]="{data:groupRoom.id}">
              <div class="card mt-2">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <p class="text-secondary mb-1">
                    <h3>{{groupRoom.name}}</h3>
                    <h4>{{groupRoom?.category?.name}}</h4>
                    <p class="text-secondary mb-1">{{groupRoom.description}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-7 mt-4 ml-md-3 pr-3">
              <div class="card ">
                <div class="card-body">
                  <div class="row justify-content-center">
                    <div class="d-flex flex-column align-items-center text-center p-lg-2">
                      <div class="d-flex justify-content-center row">
                        <div class=" pr-md-1 justify-content-center" style="width: 95%">
                          <label class="d-flex justify-content-center title"> Users in group </label>
                          <div class="row text-center justify-content-center">
                            <div style="height: 100px" class="col-md-2 card bg-card card-user col-2 col-sm-2 col-lg-2"
                                 *ngFor=" let user of groupRoom.users | slice:0:groupRoom.maxUsers; let i = index">
                              <img class="img-responsive mt-2" alt="icon" src="assets/img/default-avatar.png">
                              <p class="justify-content-center">{{user.username}}</p>
                            </div>
                            <div class="col-md-2 card bg-card card-user col-2 col-sm-2 col-lg-2 " style="opacity: 40%"
                                 *ngFor=" let _ of [].constructor(groupRoom.maxUsers-groupRoom.users.length)">
                              <button class='bg-transparent pt-1 btnNew hover-add mt-2'
                                      (click)="joinGroupMethod(groupRoom.id)"><img class="img-responsive" alt="icon"
                                                                                   src="assets/img/join.jpg">
                                <p class="justify-content-center">Join </p></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

